body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.library {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 30px;
    background-image: url("https://img.freepik.com/free-photo/3d-rendering-classic-interior_23-2150943454.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.book-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.header {
    background-color: #0093E9; background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.header-title {
    text-align: center;
    margin: 0;
    padding: 8px;
}

.card {
    padding: 20px;
    background-color: #30344c;
    color: #c0c3d7;
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card p {
    margin: 3px;
}

.book-cover {
    width: 200px;
}

#openModal {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: fixed;
    top: 13px;
    right: 10px;
}

#openModal:hover {
    background-color: #45a049;
}

.modal {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    width: 100%;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-title {
    font-size: 24px;
    margin: 0;
}

.close {
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s;
}

.close:hover {
    color: #333;
}

.book-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.book-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.book-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.book-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.book-form button:hover {
    background-color: #45a049;
}

.btn {
    border: none;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: block;
    margin: 15px auto 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: rgba(255, 0, 0, 0.8);
}